# MacOS

.DS_Store

# Caliper
*.bearertoken.txt
*.bearertoken.txt.meta

# Firebase
**/GoogleService-Info.plist
**/GoogleService-Info.plist.meta

# Google Service Account Key
*.sak.json
*.sak.json.meta

# Google Cloud API Key
*.apikey.txt
*.apikey.txt.meta